
config USER_NANO
	bool "nano text editor"
	select LIB_NCURSES
	help
          GNU nano is a text editor for Unix-like computing systems or
          operating environments using a command line interface.
          It emulates the Pico text editor, part of the Pine email client,
          and also provides additional functionality.
          Unlike Pico, nano is licensed under the GNU General Public License (GPL).
