// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Digi AnywhereUSB-2.
 *
 * Copyright 2016 Freescale Semiconductor, Inc.
 * Copyright 2018 Digi Inc.
 *
 * Mingkai Hu <mingkai.hu@nxp.com>
 * Greg Ungerer <gregory.ungerer@digi.com>
 */

/dts-v1/;

#include "fsl-ls1012a.dtsi"
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Digi AnywhereUSB-2";
	compatible = "digi,anywhereusb2", "fsl,ls1012a";

	aliases {
		serial0 = &duart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	soc {
		qspi: quadspi@1550000 {
			compatible = "fsl,ls1012a-qspi", "fsl,ls1021a-qspi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0 0x1550000 0x0 0x10000>,
				<0x0 0x40000000 0x0 0x10000000>;
			reg-names = "QuadSPI", "QuadSPI-memory";
			interrupts = <0 99 IRQ_TYPE_LEVEL_HIGH>;
			clock-names = "qspi_en", "qspi";
			clocks = <&clockgen 4 0>, <&clockgen 4 0>;
			big-endian;
			status = "disabled";
		};

		rcpm: rcpm@1ee2000 {
			compatible = "fsl,ls1012a-rcpm", "fsl,qoriq-rcpm-2.1";
			reg = <0x0 0x1ee2000 0x0 0x1000>;
			fsl,#rcpm-wakeup-cells = <1>;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		pfe_reserved: packetbuffer@83400000 {
			reg = <0 0x83400000 0 0xc00000>;
		};
	};

	pfe: pfe@04000000 {
		status = "okay";
		compatible = "fsl,pfe";
		reg =   <0x0 0x04000000 0x0 0xc00000>,	/* AXI 16M */
			<0x0 0x83400000 0x0 0xc00000>;  /* PFE DDR 12M */
		reg-names = "pfe", "pfe-ddr";
		fsl,pfe-num-interfaces = <0x2>;
		interrupts = <0 172 0x4>,    /* HIF interrupt */
			     <0 173 0x4>,    /*HIF_NOCPY interrupt */
			     <0 174 0x4>;    /* WoL interrupt */
		interrupt-names = "pfe_hif", "pfe_hif_nocpy", "pfe_wol";
		memory-region = <&pfe_reserved>;
		fsl,pfe-scfg = <&scfg 0>;
		fsl,rcpm-wakeup = <&rcpm 0xf0000020>;
		clocks = <&clockgen 4 0>;
		clock-names = "pfe";
	};
};

&duart0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	lp5569:lp5569@32 {
		compatible = "ti,lp5569";
		reg = <0x32>;
		label = "lp5569";
		clock-mode = /bits/ 8 <1>;  /* internal */

		chan0 {
			chan-name = "pwr1b";
			led-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			invert = /bits/ 8 <0x01>;   /* inverted LED */
			linux,default-trigger = "timer";
		};

		chan1 {
			chan-name = "pwr1g";
			led-cur = /bits/ 8 <0x03>;  /* 0.3mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan2 {
			chan-name = "pwr1r";
			led-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan3 {
			chan-name = "b01";
			led-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan4 {
			chan-name = "g01";
			led-cur = /bits/ 8 <0x03>;  /* 0.3mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan5 {
			chan-name = "r01";
			led-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan6 {
			chan-name = "b02";
			led-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan7 {
			chan-name = "g02";
			led-cur = /bits/ 8 <0x03>;  /* 0.3mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};

		chan8 {
			chan-name = "r02";
			led-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			max-cur = /bits/ 8 <0x18>;  /* 2.4mA */
			linux,default-trigger = "timer";
		};
	};

	temperature-sensor@4d {
		compatible = "onnn,nct1008"; /* nct72 reg/pin compatible */
		reg = <0x4d>;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	status = "okay";

	rng: atecc508a@60 {
		compatible = "atsha204-i2c";
		reg = <0x60>;
	};
};

&qspi {
	num-cs = <1>;
	bus-num = <0>;
	status = "okay";

	qflash0: w25q32dw@0 {
		compatible = "spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <1>;
		spi-tx-bus-width = <1>;
		reg = <0>;
	};
};

&pfe {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethernet@1 {
		compatible = "fsl,pfe-gemac-port";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x1>;    /* GEM_ID */
		fsl,gemac-bus-id = <0x1>; /* BUS_ID */
		fsl,gemac-phy-id = <0x0>; /* PHY_ID */
		fsl,mdio-mux-val = <0x0>;
		phy-mode = "rgmii-id"; /* use strapped tx/rx delay */
		fsl,pfe-phy-if-flags = <0x0>;

		mdio {
			reg = <0x1>; /* enabled/disabled */
		};
	};
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "disabled";
};

&esdhc0 {
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs200-1_8v;
	status = "okay";
};

&esdhc1 {
	status = "disabled";
};

&gpio0 {
	gpio-line-names = "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "factory", "", "", "", "", "", "", "";
};
