// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Digi ConnectEZ-4.
 *
 * Copyright 2016 Freescale Semiconductor, Inc.
 * Copyright 2018 Digi Inc.
 *
 * Mingkai Hu <mingkai.hu@nxp.com>
 * Greg Ungerer <gregory.ungerer@digi.com>
 */

/dts-v1/;
#include "connectez-base.dtsi"

/ {
	model = "Digi ConnectEZ-4";
	compatible = "digi,connectez4", "digi,connectez", "fsl,ls1012a";
};

