// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Digi ConnectEZ-1.
 *
 * Copyright 2016 Freescale Semiconductor, Inc.
 * Copyright 2018 Digi Inc.
 *
 * Mingkai Hu <mingkai.hu@nxp.com>
 * Greg Ungerer <gregory.ungerer@digi.com>
 */

/dts-v1/;

#include "fsl-ls1012a.dtsi"
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Digi ConnectEZ-1";
	compatible = "digi,connectez1", "fsl,ls1012a";

	aliases {
		serial0 = &duart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	uartclk: clock-uartclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <14745600>;
	};

	soc {
		rcpm: rcpm@1ee2000 {
			compatible = "fsl,ls1012a-rcpm", "fsl,qoriq-rcpm-2.1";
			reg = <0x0 0x1ee2000 0x0 0x1000>;
			fsl,#rcpm-wakeup-cells = <1>;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		pfe_reserved: packetbuffer@83400000 {
			reg = <0 0x83400000 0 0xc00000>;
		};
	};

	pfe: pfe@04000000 {
		status = "okay";
		compatible = "fsl,pfe";
		reg =   <0x0 0x04000000 0x0 0xc00000>,	/* AXI 16M */
			<0x0 0x83400000 0x0 0xc00000>;  /* PFE DDR 12M */
		reg-names = "pfe", "pfe-ddr";
		fsl,pfe-num-interfaces = <0x2>;
		interrupts = <0 172 0x4>,    /* HIF interrupt */
			     <0 173 0x4>,    /*HIF_NOCPY interrupt */
			     <0 174 0x4>;    /* WoL interrupt */
		interrupt-names = "pfe_hif", "pfe_hif_nocpy", "pfe_wol";
		memory-region = <&pfe_reserved>;
		fsl,pfe-scfg = <&scfg 0>;
		fsl,rcpm-wakeup = <&rcpm 0xf0000020>;
		clocks = <&clockgen 4 0>;
		clock-names = "pfe";
	};

	leds {
		compatible = "gpio-leds";

		power-led {
			label = "power";
			pinctrl-names = "default";
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};

		serial-led {
			label = "serial";
			pinctrl-names = "default";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};
	};
};

&duart0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	temperature-sensor@4d {
		compatible = "onnn,nct1008"; /* nct72 reg/pin compatible */
		reg = <0x4d>;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	status = "okay";

	rng: atecc508a@60 {
		compatible = "atsha204-i2c";
		reg = <0x60>;
	};
};

&qspi {
	num-cs = <1>;
	bus-num = <0>;
	status = "okay";

	qflash0: w25q32dw@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <80000000>;
		spi-rx-bus-width = <1>;
		spi-tx-bus-width = <1>;
		reg = <0>;
	};
};

&pfe {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethernet@1 {
		compatible = "fsl,pfe-gemac-port";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0>;    /* GEM_ID */
		fsl,gemac-bus-id = <0x0>; /* BUS_ID */
		fsl,gemac-phy-id = <0x0>; /* PHY_ID */
		fsl,mdio-mux-val = <0x0>;
		phy-mode = "sgmii";
		fsl,pfe-phy-if-flags = <0x0>;

		mdio {
			reg = <0x1>; /* enabled/disabled */
		};
	};
};

&usb0 {
	status = "disabled";
};

&usb1 {
	status = "disabled";
};

&esdhc0 {
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs200-1_8v;
	status = "okay";
};

&esdhc1 {
	status = "disabled";
};

&gpio1 {
	gpio-line-names = "", "", "", "", "", "", "", "dbg",
			  "", "", "", "", "factory", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "";
};

&dspi {
	status = "okay";
	bus-num = <0>;

	spiuart: xr20m1280@0 {
		compatible = "nxp,xr20m1280";
		reg = <0>;
		clocks = <&uartclk>;
		spi-max-frequency = <26000000>;
		interrupt-parent = <&gpio1>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
