config ARCH_KSZ8692P
	bool

choice
	prompt "Micrel Pegasus Implementations"
	depends on PEGASUS
	default MACH_KSZ8692P

config MACH_KSZ8692P
	bool "KSZ8692P"
	select ARCH_KSZ8692P
	help
	  Include support for KSZ8692P SoC dev board.

config MACH_ACM500X
        bool "OpenGear ACM500X"
	select ARCH_KSZ8692P
        help
          Say 'Y' here if you want your kernel to support the OpenGear
          ACM500X Advanced Console Servers. See http://www.opengear.com
          for more details.

endchoice

choice
	prompt "KSZ8692P Revisions"
	depends on ARCH_KSZ8692P
	default KSZ8692VA

config KSZ8692VA
	bool "KSZ8692 Rev. A"
	help
	  Support for initial revision KSZ8692P silicon.

config KSZ8692VB
	bool "KSZ8692 Rev. B"
	select GENERIC_TIME
	help
	  Support for later revision KSZ8692P silicon.
endchoice

config KSZ8692VB_CLOCKEVENTS
	bool "Use generic clock events"
	depends on KSZ8692VB
	select GENERIC_CLOCKEVENTS
	help
	  Use generic clock events.  This is required for high resolution
	  timer and tickless system.

config KSZ8692_MII
	bool "Use MII mode"
	depends on KSZ8692VB
	help
	  Use MII mode instead of RGMII.

config DELAYED_TIMER
	bool "Enable delayed timer"
	default n
	depends on ARCH_PEGASUS
	help
	  Enable microsecond timer for delayed tasks.

config U_BOOT_LOADER
	bool "Use U-Boot loader"
	default y
	depends on ARCH_PEGASUS
	help
	  Use U-Boot loader.

config CENTAUR_LOADER_SIZE
	hex "Bootloader size"
	depends on ARCH_PEGASUS
	default "0x10000"
	help
	  This is the maximum size of the bootloader for the Pegasus
	  chips.

config CENTAUR_KERNEL_SIZE
	hex "Kernel size"
	depends on ARCH_PEGASUS
	default "0xE0000"
	help
	  This is the maximum size of the kernel for the Pegasus
	  chips.

config CENTAUR_FS_SIZE
	hex "Filesystem size"
	depends on ARCH_PEGASUS
	default "0x60000"
	help
	  This is the size of the non-volatile filesystem for the
	  Pegasus chips.

config CENTAUR_SPARE_SIZE
	hex "Spare size"
	depends on ARCH_PEGASUS
	default "0x40000"
	help
	  This is the size of the spare space for other uses.

choice
	prompt "DDR memory types"
	depends on ARCH_KS8692P
	default MICRON_200_DDR

config SAMSUNG_166_DDR
	bool "Samsung 166 MHz DDR"
	help
	  Support for Samsung 166 MHz DDR chips.

config SAMSUNG_200_DDR
	bool "Samsung 200 MHz DDR"
	help
	  Support for Samsung 200 MHz DDR chips.

config MICRON_166_DDR
	bool "Micron 166 MHz DDR"
	help
	  Support for Micron 166 MHz DDR chips.

config MICRON_200_DDR
	bool "Micron 200 MHz DDR"
	help
	  Support for Micron 200 MHz DDR chips.
endchoice

