/*
 * Device Tree file for AcceleratedConcepts 6300-CX
 *
 * Greg Ungerer <greg.ungerer@accelerated.com>
 *
 * This file is licensed under the terms of the GNU General Public
 * License version 2.  This program is licensed "as is" without any
 * warranty of any kind, whether express or implied.
 */

/dts-v1/;
#include "armada-370.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Accelerated Concepts 6300-CX";
	compatible = "accelerated,6300cx", "marvell,armada370", "marvell,armada-370-xp";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x80000000>; /* 2 GB */
	};

	soc {
		ranges = <MBUS_ID(0xf0, 0x01) 0 0xd0000000 0x100000
			  MBUS_ID(0x01, 0xe0) 0 0xfff00000 0x100000
			  MBUS_ID(0x09, 0x01) 0 0xf1100000 0x10000>;

		internal-regs {
			serial@12000 {
				clock-frequency = <200000000>;
				status = "okay";
			};
			timer@20300 {
				clock-frequency = <600000000>;
				status = "okay";
			};

			gpio_leds {
				compatible = "gpio-leds";
				pinctrl-names = "default";
				pinctrl-0 = <&red_led_pin &blue_led_pin &green_led_pin &signal0_led_pin &signal1_led_pin &signal2_led_pin &signal3_led_pin &signal4_led_pin>;

				red_led {
					label = "6300cx:red:red";
					gpios = <&gpio1 23 1>;
					linux,default-trigger = "red";
				};

				blue_led {
					label = "6300cx:blue:blue";
					gpios = <&gpio1 24 1>;
					linux,default-trigger = "blue";
				};

				green_led {
					label = "6300cx:green:green";
					gpios = <&gpio1 25 1>;
					linux,default-trigger = "green";
				};

				green_signal0_led {
					label = "6300cx:green:signal0";
					gpios = <&gpio1 26 1>;
					linux,default-trigger = "signal0";
				};

				green_signal1_led {
					label = "6300cx:green:signal1";
					gpios = <&gpio1 27 1>;
					linux,default-trigger = "signal1";
				};

				green_signal2_led {
					label = "6300cx:green:signal2";
					gpios = <&gpio1 28 1>;
					linux,default-trigger = "signal2";
				};

				green_signal3_led {
					label = "6300cx:green:signal3";
					gpios = <&gpio1 29 1>;
					linux,default-trigger = "signal3";
				};

				green_signal4_led {
					label = "6300cx:green:signal4";
					gpios = <&gpio1 30 1>;
					linux,default-trigger = "signal4";
				};
			};

			gpio_usb_enables {
				pinctrl-names = "default";
				pinctrl-0 = <&cell_disable_pin &cell_reset_pin>;
			};

			eth0: ethernet@70000 {
				status = "okay";
				phy = <&phy0>;
				phy-mode = "mii";
			};

			crypto@90000 {
				status = "okay";
			};

			usb@50000 {
				status = "okay";
			};

			usb@51000 {
				status = "okay";
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		sim-button {
			label = "sim_switch";
			linux,code = <KEY_SELECT>;
			gpios = <&gpio1 (52-32) GPIO_ACTIVE_LOW>;
		};
	};
};

&pinctrl {
	red_led_pin: red-led-pin {
		marvell,pins = "mpp55";
		marvell,function = "gpo";
	};

	blue_led_pin: blue-led-pin {
		marvell,pins = "mpp56";
		marvell,function = "gpo";
	};

	green_led_pin: green-led-pin {
		marvell,pins = "mpp57";
		marvell,function = "gpo";
	};

	signal0_led_pin: signal0-led-pin {
		marvell,pins = "mpp58";
		marvell,function = "gpo";
	};

	signal1_led_pin: signal1-led-pin {
		marvell,pins = "mpp59";
		marvell,function = "gpo";
	};

	signal2_led_pin: signal2-led-pin {
		marvell,pins = "mpp60";
		marvell,function = "gpo";
	};

	signal3_led_pin: signal3-led-pin {
		marvell,pins = "mpp61";
		marvell,function = "gpo";
	};

	signal4_led_pin: signal3-led-pin {
		marvell,pins = "mpp62";
		marvell,function = "gpo";
	};

	cell_disable_pin: cell-disable-pin {
		marvell,pins = "mpp2";
		marvell,function = "gpo";
	};

	cell_reset_pin: cell_reset-pin {
		marvell,pins = "mpp48";
		marvell,function = "gpo";
	};
};

&pciec {
	status = "okay";

	/* Internal mini-PCIe connector */
	pcie@1,0 {
		/* Port 0, Lane 0 */
		status = "okay";
	};

	pcie@2,0 {
		/* Port 1, Lane 0 */
		status = "okay";
	};
};

&nand_controller {
	status = "okay";

	nand@0 {
		reg = <0>;
		label = "pxa3xx_nand-0";
		nand-rb = <0>;
		marvell,nand-keep-config;
		nand-on-flash-bbt;
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label="u-boot";
				reg = <0x00000000 0x00200000>;
			};
			partition@1 {
				label="u-boot-env";
				reg = <0x00200000 0x00100000>;
			};
			partition@2 {
				label="log";
				reg = <0x00300000 0x00200000>;
			};
			partition@3 {
				label="flash";
				reg = <0x00500000 0>;
			};
			partition@4 {
				label="all";
				reg = <0x00000000 0>;
			};
		};
	};
};

&mdio {
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
	phy0: ethernet-phy@0 {
		reg = <2>;
		unlink-power-down;
	};
};
