config LIB_LIBOPENGEAR
	bool "Build libopengear"
	default n
	select LIB_JANSSON
	select LIB_EXPAT
	select LIB_SCEW
	select LIB_LOG4C
	select LIB_ZLIB
	help
	  Opengear console server common function library.
