/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "mt7621_pstore.dtsi"

/ {
	model = "Digi LR54";
	compatible = "digi,lr54", "mediatek,mt7621-soc";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	/* Have to swap serial port 0 and 1, because of historical reasons
	 * (bootloader is passing ttyS1 as console port) */
	aliases {
		serial0 = &serial1;
		serial1 = &serial0;
	};

	chosen {
		stdout-path = "serial1:115200";
	};

	leds {
		compatible = "gpio-leds";

		power {
			label = "POWER";
			gpios = <&gpio 22 GPIO_ACTIVE_LOW>;
			default-state = "on";
			linux,default-trigger = "timer";
		};

		wwan1_signal_green {
			label = "WWAN1_SIGNAL_GREEN";
			gpios = <&gpio 23 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wwan1_signal_yellow {
			label = "WWAN1_SIGNAL_YELLOW";
			gpios = <&gpio 24 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wwan1_service_green {
			label = "WWAN1_SERVICE_GREEN";
			gpios = <&gpio 25 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wwan1_service_yellow {
			label = "WWAN1_SERVICE_YELLOW";
			gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		sim1 {
			label = "SIM1";
			gpios = <&gpio 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		sim2 {
			label = "SIM2";
			gpios = <&gpio 31 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wifi1 {
			label = "WIFI1";
			gpios = <&gpio 28 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		wifi2 {
			label = "WIFI2";
			gpios = <&gpio 29 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		factory-button {
			label = "factory";
			linux,code = <KEY_DELETE>;
			gpios = <&gpio 18 GPIO_ACTIVE_LOW>; /* RST_PBC_N */
		};
	};

	sim-mux0 {
		compatible = "sim-mux";

		sim-select-gpios  = <&gpio 17 GPIO_ACTIVE_LOW>;

		sim-count = <2>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	status = "okay";
};

&nand {
	status = "okay";
	pin-ctrl-names = "default";
	pinctrl-0 = <&nand_pins>;

	partition@0 {
		label = "all";
		reg = <0x00000000 0>;
	};
	partition@1 {
		label = "u-boot";
		reg = <0x00000000 0x00200000>;
	};
	partition@2 {
		label = "u-boot-env";
		reg = <0x00200000 0x00100000>;
	};
	partition@3 {
		label = "u-boot-env1";
		reg = <0x00300000 0x00100000>;
	};
	partition@4 {
		label = "flash";
		reg = <0x00400000 0x09680000>;
	};
	partition@5 {
		label = "userfs";
		reg = <0x09a80000 0x064c0000>;
	};
	partition@6 {
		label = "csid";
		reg = <0x0ff40000 0x00020000>;
	};
	partition@7 {
		label = "odm";
		reg = <0x0ff60000 0x00020000>;
	};
};

/* Overwrite dtsi's pinctrl. LR54 is using RGMII2 pins as GPIOs */
&ethernet {
	pinctrl-0 = <&mdio_pins>, <&rgmii1_pins>;
};

&gmac1 {
        status = "disabled";
};

&switch0 {
	ports {
		port@1 {
			status = "okay";
			label = "eth1";
		};
		port@2 {
			status = "okay";
			label = "eth2";
		};
		port@3 {
			status = "okay";
			label = "eth3";
		};
		port@4 {
			status = "okay";
			label = "eth4";
		};
	};
};

&i2c {
	clock-frequency = <400000>;
	status = "okay";
	pinctrl-names = "default", "gpio";
	pinctrl-1 = <&i2c_gpios>;
	sda-gpios = <&gpio 3 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&gpio 4 GPIO_ACTIVE_HIGH>;

	temp: lm73@48 {
		compatible = "lm73";
		reg = <0x48>;
	};

	rng: atsha204a@64 {
		compatible = "atsha204-i2c";
		reg = <0x64>;
	};

	rtc: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		interrupts = <3>;
	};
};

&serial0 {
	status = "okay";
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			groups = "rgmii2";
			function = "gpio";
		};
	};

	i2c_gpios: i2c_gpios {
		i2c {
			groups = "i2c";
			function = "gpio";
		};
	};
};

&gpio {
	gpio-line-names = "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "factory", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "";
};

&crypto {
	status = "okay";
};

&pcie0 {
	wifi@0,0 {
		compatible = "mediatek,mt76";
		reg = <0x0000 0 0 0 0>;
		mediatek,file-eeprom = "mt7612_caldata.bin";
	};
};

&pcie1 {
	wifi@0,0 {
		compatible = "mediatek,mt76";
		reg = <0x0000 0 0 0 0>;
		mediatek,file-eeprom = "mt7603_caldata.bin";
	};
};
