/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Digi EX15";
	compatible = "digi,ex15", "mediatek,mt7621-soc";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	status = "okay";
};

&xhci {
	status = "okay";
};

&nand {
	status = "okay";
	pin-ctrl-names = "default";
	pinctrl-0 = <&nand_pins>;

	partition@0 {
		label = "u-boot";
		reg = <0x00000000 0x00200000>;
	};
	partition@1 {
		label = "u-boot-env";
		reg = <0x00200000 0x00100000>;
	};
	partition@2 {
		label = "log";
		reg = <0x00300000 0x00200000>;
	};
	partition@3 {
		label = "flash";
		reg = <0x00500000 0>;
	};
	partition@4 {
		label = "all";
		reg = <0x00000000 0>;
	};
};

&ethernet {
	status = "okay";

	gmac0: mac@0 {
		compatible = "mediatek,eth-mac";
		reg = <0>;
		phy-mode = "rgmii";

		fixed-link {
			speed = <1000>;
			full-duplex;
			pause;
		};
	};

	mdio-bus {
		#address-cells = <1>;
		#size-cells = <0>;

		switch@0 {
			compatible = "mediatek,mt7621", "mediatek,mt7530";
			reg = <0>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					label = "lan";
				};

				port@1 {
					reg = <1>;
					label = "wan";
				};

				port@6 {
					reg = <6>;
					label = "cpu";
					ethernet = <&gmac0>;
					phy-mode = "rgmii";

					fixed-link {
						speed = <1000>;
						full-duplex;
						pause;
					};
				};
			};
		};
	};
};

&i2c {
	clock-frequency = <400000>;
	status = "okay";

	extgpio: pca8575@26 {
		compatible = "nxp,pca8575";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&uartlite0 {
	status = "okay";
};

&uartlite1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	dtr-gpios = <&gpio 7 GPIO_ACTIVE_LOW>;
	dcd-gpios = <&gpio 8 GPIO_ACTIVE_LOW>;
};

&uartlite2 {
	status = "disabled";
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			group = "rgmii2";
			function = "gpio";
		};
	};
};
