/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Digi TX54";
	compatible = "digi,tx54", "mediatek,mt7621-soc";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	/* Have to swap serial port 0 and 1, because of historical reasons
	 * (bootloader is passing ttyS1 as console port) */
	aliases {
		serial0 = &uartlite1;
		serial1 = &uartlite0;
		serial2 = &uartlite2;
	};

	chosen {
		stdout-path = "serial1:115200";
	};

	leds {
		compatible = "gpio-leds";

		wwan2_signal_yellow {
			label = "WWAN2_SIGNAL_YELLOW";
			gpios = <&mcp23017 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan2_signal_green {
			label = "WWAN2_SIGNAL_GREEN";
			gpios = <&mcp23017 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan2_service_yellow {
			label = "WWAN2_SERVICE_YELLOW";
			gpios = <&mcp23017 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan2_service_green {
			label = "WWAN2_SERVICE_GREEN";
			gpios = <&mcp23017 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan1_signal_yellow {
			label = "WWAN1_SIGNAL_YELLOW";
			gpios = <&mcp23017 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan1_signal_green {
			label = "WWAN1_SIGNAL_GREEN";
			gpios = <&mcp23017 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan1_service_yellow {
			label = "WWAN1_SERVICE_YELLOW";
			gpios = <&mcp23017 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wwan1_service_green {
			label = "WWAN1_SERVICE_GREEN";
			gpios = <&mcp23017 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wifi1_green {
			label = "WIFI1";
			gpios = <&gpio 28 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		gnss_green {
			label = "GNSS";
			gpios = <&gpio 30 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	status = "okay";
};

&nand {
	status = "okay";
	pin-ctrl-names = "default";
	pinctrl-0 = <&nand_pins>;

	partition@0 {
		label = "all";
		reg = <0x00000000 0>;
	};
	partition@1 {
		label = "u-boot";
		reg = <0x00000000 0x00200000>;
	};
	partition@2 {
		label = "u-boot-env";
		reg = <0x00200000 0x00100000>;
	};
	partition@3 {
		label = "u-boot-env1";
		reg = <0x00300000 0x00100000>;
	};
	partition@4 {
		label = "flash";
		reg = <0x00400000 0x09c00000>;
	};
	partition@5 {
		label = "userfs";
		reg = <0x0a000000 0x15f40000>;
	};
	partition@6 {
		label = "csid";
		reg = <0x1ff40000 0x00020000>;
	};
	partition@7 {
		label = "odm";
		reg = <0x1ff60000 0x00020000>;
	};
};

&ethernet {
	status = "okay";

	gmac0: mac@0 {
		compatible = "mediatek,eth-mac";
		reg = <0>;
		phy-mode = "rgmii";

		fixed-link {
			speed = <1000>;
			full-duplex;
			pause;
		};
	};

	mdio-bus {
		#address-cells = <1>;
		#size-cells = <0>;

		switch@0 {
			compatible = "mediatek,mt7621", "mediatek,mt7530";
			reg = <0>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <1>;
					label = "eth1";
				};

				port@1 {
					reg = <2>;
					label = "eth2";
				};

				port@2 {
					reg = <3>;
					label = "eth3";
				};

				port@3 {
					reg = <4>;
					label = "eth4";
				};

				port@6 {
					reg = <6>;
					label = "cpu";
					ethernet = <&gmac0>;
					phy-mode = "rgmii";

					fixed-link {
						speed = <1000>;
						full-duplex;
						pause;
					};
				};
			};
		};
	};
};

&i2c {
	clock-frequency = <400000>;
	status = "okay";
	pinctrl-names = "default", "gpio";
	pinctrl-1 = <&i2c_gpios>;
	sda-gpios = <&gpio 3 GPIO_ACTIVE_HIGH>;
	scl-gpios = <&gpio 4 GPIO_ACTIVE_HIGH>;

	mcp23017: mcp23017@21 {
		compatible = "microchip,mcp23017";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	temp: lm73@48 {
		compatible = "lm73";
		reg = <0x48>;
	};

	adxl343: adxl343@53 {
		compatible = "adi,adxl345";
		reg = <0x53>;
		interrupt-parent = <&mcu_tx54>;
		interrupts = <4>;
	};

	rng: atecc508a@60 {
		compatible = "atsha204-i2c";
		reg = <0x60>;
	};

	rtc: ds3232@68 {
		compatible = "dallas,ds3232";
		reg = <0x68>;
		interrupt-parent = <&mcu_tx54>;
		interrupts = <3>;
	};

	mcu_tx54: mcu@78 {
		compatible = "digi,mcu-tx54";
		reg = <0x78>;
		interrupt-parent = <&gpio>;
		interrupts = <32 IRQ_TYPE_EDGE_RISING>;
		interrupt-controller;
		#interrupt-cells = <1>;

		mcu_pwr_led: mcu_led {
			compatible = "digi,mcu-tx54-led";
			label = "POWER";
			linux,default-trigger = "timer";
		};

		poweroff {
			compatible = "digi,mcu-tx54-poweroff";
		};

		keys {
			compatible = "digi,mcu-tx54-keys";
		};

		battery {
			compatible = "digi,mcu-tx54-battery";
		};
	};
};

&uartlite1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
};

&pinctrl {
	state_default: pinctrl0 {
		gpio {
			groups = "rgmii2";
			function = "gpio";
		};
	};

	i2c_gpios: i2c_gpios {
		i2c {
			groups = "i2c";
			function = "gpio";
		};
	};
};

&gpio {
	gpio-line-names = "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "factory", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "",
			  "", "", "", "", "", "", "", "";
};

&crypto {
	status = "okay";
};
