/dts-v1/;

#include "mt7621.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "mt7621_pstore.dtsi"

/ {
	model = "Digi EX15";
	compatible = "digi,ex15", "mediatek,mt7621-soc";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};

	chosen {
		stdout-path = "serial0:115200";
	};

	gpio-keys {
                compatible = "gpio-keys";

                factory-button {
                        label = "factory";
                        linux,code = <KEY_DELETE>;
                        gpios = <&gpio 28 GPIO_ACTIVE_LOW>;
                };

                sim-button {
                        label = "sim_switch";
                        linux,code = <KEY_SELECT>;
                        gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
                };
	};

	reg_wifi: regulator-wifi {
		/* Note: This is not an actual regulator, but rather a disable
		 * pin on the module. */
		compatible = "regulator-fixed";
		regulator-name = "wifi-en";
		gpio = <&gpio 30 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
	regulator_wifi {
		compatible = "regulator-output";
		vout-supply = <&reg_wifi>;
	};

	sim-mux0 {
		compatible = "sim-mux";

		sim-select-gpios  = <&gpio 27 GPIO_ACTIVE_HIGH>;

		sim-count = <2>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins>;
	status = "okay";
};

&usb {
	status = "okay";
};

&nand {
	status = "okay";
	pin-ctrl-names = "default";
	pinctrl-0 = <&nand_pins>;

	partition@0 {
		label = "u-boot";
		reg = <0x00000000 0x00200000>;
	};
	partition@1 {
		label = "u-boot-env";
		reg = <0x00200000 0x00100000>;
	};
	partition@2 {
		label = "log";
		reg = <0x00300000 0x00200000>;
	};
	partition@3 {
		label = "flash";
		reg = <0x00500000 0>;
	};
	partition@4 {
		label = "all";
		reg = <0x00000000 0>;
	};
};

/* Overwrite dtsi's pinctrl. EX15 is using RGMII2 pins as GPIOs */
&ethernet {
	pinctrl-0 = <&mdio_pins>, <&rgmii1_pins>;
};

&gmac1 {
        status = "disabled";
};

&switch0 {
	ports {
		port@0 {
			status = "okay";
			label = "lan";
		};
		port@1 {
			status = "okay";
			label = "wan";
		};
	};
};

&i2c {
	clock-frequency = <400000>;
	status = "okay";

	extgpio: pca8575@26 {
		compatible = "nxp,pca8575";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	dtr-gpios = <&gpio 7 GPIO_ACTIVE_LOW>;
	dcd-gpios = <&gpio 8 GPIO_ACTIVE_LOW>;
};

&serial2 {
	status = "disabled";
};

&pinctrl {
	state_default: pinctrl0 {
		default_gpio {
			groups = "rgmii2";
			function = "gpio";
		};
	};
};

&gpio {
	gpio-line-names = "", "", "", "", "", "", "", "",
	/*  8 */	  "", "", "", "", "", "", "", "",
	/* 16 */	  "", "", "", "", "", "", "", "",
	/* 24 */	  "", "", "sim_switch", "", "factory", "", "", "",
	/* 32 */	  "", "", "", "", "", "", "", "",
	/* 40 */	  "", "", "", "", "", "", "", "",
	/* 48 */	  "", "", "", "", "", "", "", "",
	/* 56 */	  "", "", "", "", "", "", "", "",
	/* 64 */	  "", "", "", "", "", "", "", "",
	/* 72 */	  "", "", "", "", "", "", "", "",
	/* 80 */	  "", "", "", "", "", "", "", "",
	/* 88 */	  "", "", "", "", "", "", "", "";
};
