# SD card reader at USB address 1-4
ENV{DEVPATH}!="/devices/pci0000:00/0000:00:15.0/usb1/1-4/1-4:1.0/*", GOTO="end"

# SD card reader with no card inserted has size 0
KERNEL=="sd[a-z]", ACTION=="add", ATTRS{size}!="0", RUN+="/bin/storage add /dev/%k sd"
KERNEL=="sd[a-z]", ACTION=="change", ATTRS{size}!="0", ENV{DISK_MEDIA_CHANGE}=="1", RUN+="/bin/storage add /dev/%k sd"

KERNEL=="sd[a-z]", ACTION=="change", ATTRS{size}=="0", RUN+="/bin/storage remove /dev/%k sd"

LABEL="end"
