# USB 2.x drive at address 1-2 or USB 3.x drive at address 2-2
ENV{DEVPATH}=="/devices/pci0000:00/0000:00:15.0/usb1/1-2/1-2:1.0/*", GOTO="found"
ENV{DEVPATH}=="/devices/pci0000:00/0000:00:15.0/usb2/2-2/2-2:1.0/*", GOTO="found"
GOTO="end"

LABEL="found"
KERNEL=="sd[a-z]", ACTION=="add", RUN+="/bin/storage add /dev/%k usb2"
KERNEL=="sd[a-z]", ACTION=="remove", RUN+="/bin/storage remove /dev/%k usb2"

LABEL="end"
