if USER_PYTHON
menu "python modules"

config USER_PYTHON_MODULES_PIP
	bool "pip"
	select USER_PYTHON_MODULES_SETUPTOOLS
	help
		The PyPA recommended tool for installing Python packages.

config USER_PYTHON_MODULES_SETUPTOOLS_HOST
	bool "setuptools - host build"
	help
		Easily download, build, install, upgrade, and uninstall Python packages.
		Host build only.

config USER_PYTHON_MODULES_SETUPTOOLS
	bool "setuptools - install on target"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Easily download, build, install, upgrade, and uninstall Python packages.

config USER_PYTHON_MODULES_SIX
	bool "six"
	help
		Python 2 and 3 compatibility utilities.

config USER_PYTHON_MODULES_CFFI
	bool "cffi"
	help
		Foreign Function Interface for Python calling C code.

config USER_PYTHON_MODULES_PYSERIAL
	bool "pyserial"
	help
		Python Serial Port Extension.

config USER_PYTHON_MODULES_PYSERIAL_ASYNCIO
	bool "pyserial-asyncio"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_PYSERIAL
	help
		Async I/O extension package for the Python Serial Port Extension.

config USER_PYTHON_MODULES_PYMODBUS
	bool "pymodbus"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_SIX
	select USER_PYTHON_MODULES_PYSERIAL
	select USER_PYTHON_MODULES_PYSERIAL_ASYNCIO
	help
		Pymodbus is a full Modbus protocol implementation.

config USER_PYTHON_MODULES_BCRYPT
	bool "bcrypt"
	select USER_PYTHON_MODULES_CFFI
	select USER_PYTHON_MODULES_SIX
	help
		Modern password hashing for your software and your servers.

config USER_PYTHON_MODULES_PEXPECT
	bool "pexpect"
	select USER_PYTHON_MODULES_PTYPROCESS
	help
		Pexpect allows easy control of interactive console applications.

config USER_PYTHON_MODULES_PTYPROCESS
	bool "ptyprocess"
	help
		Run a subprocess in a pseudo terminal.

config USER_PYTHON_MODULES_DIGI_XBEE_LIB
	bool "Digi XBee Python library"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_PYSERIAL
	help
		Digi XBee Python library.

config USER_PYTHON_MODULES_AWS_SDK
	bool "AWS SDK Python library"
	help
		AWS SDK Python library.

config USER_PYTHON_MODULES_SRP
	bool "Secure Remote Password protocol (SRP)"
	select USER_PYTHON_MODULES_SIX
	help
		Secure Remote Password protocol (SRP)

config USER_PYTHON_MODULES_PAHO_MQTT
	bool "paho-mqtt"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Eclipse Paho MQTT Python client library.

config USER_PYTHON_MODULES_HID
	bool "hid"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_HID_API
	help
		ctypes bindings for hidapi.

endmenu
endif
