if USER_PYTHON
menu "python modules"

config USER_PYTHON_MODULES_PIP
	bool "pip"
	select USER_PYTHON_MODULES_SETUPTOOLS
	help
		The PyPA recommended tool for installing Python packages.

config USER_PYTHON_MODULES_SETUPTOOLS_HOST
	bool "setuptools - host build"
	help
		Easily download, build, install, upgrade, and uninstall Python packages.
		Host build only.

config USER_PYTHON_MODULES_SETUPTOOLS
	bool "setuptools - install on target"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Easily download, build, install, upgrade, and uninstall Python packages.

config USER_PYTHON_MODULES_SIX
	bool "six"
	help
		Python 2 and 3 compatibility utilities.

config USER_PYTHON_MODULES_CFFI
	bool "cffi"
	help
		Foreign Function Interface for Python calling C code.

config USER_PYTHON_MODULES_PYSERIAL
	bool "pyserial"
	help
		Python Serial Port Extension.

config USER_PYTHON_MODULES_PYSERIAL_ASYNCIO
	bool "pyserial-asyncio"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_PYSERIAL
	help
		Async I/O extension package for the Python Serial Port Extension.

config USER_PYTHON_MODULES_PYMODBUS
	bool "pymodbus"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_SIX
	select USER_PYTHON_MODULES_PYSERIAL
	select USER_PYTHON_MODULES_PYSERIAL_ASYNCIO
	help
		Pymodbus is a full Modbus protocol implementation.

config USER_PYTHON_MODULES_BCRYPT
	bool "bcrypt"
	select USER_PYTHON_MODULES_CFFI
	select USER_PYTHON_MODULES_SIX
	help
		Modern password hashing for your software and your servers.

config USER_PYTHON_MODULES_PEXPECT
	bool "pexpect"
	select USER_PYTHON_MODULES_PTYPROCESS
	help
		Pexpect allows easy control of interactive console applications.

config USER_PYTHON_MODULES_PTYPROCESS
	bool "ptyprocess"
	help
		Run a subprocess in a pseudo terminal.

config USER_PYTHON_MODULES_DIGI_XBEE_LIB
	bool "Digi XBee Python library"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_PYSERIAL
	help
		Digi XBee Python library.

config USER_PYTHON_MODULES_AWS_SDK
	bool "AWS SDK Python library"
	help
		AWS SDK Python library.

config USER_PYTHON_MODULES_SRP
	bool "Secure Remote Password protocol (SRP)"
	select USER_PYTHON_MODULES_SIX
	help
		Secure Remote Password protocol (SRP)

config USER_PYTHON_MODULES_PAHO_MQTT
	bool "paho-mqtt"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Eclipse Paho MQTT Python client library.

config USER_PYTHON_MODULES_HID
	bool "hid"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_HID_API
	help
		ctypes bindings for hidapi.

config USER_PYTHON_MODULES_PYSOCKS
	bool "PySocks"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		PySocks lets you send traffic through SOCKS proxy servers. It is
		a modern fork of SocksiPy with bug fixes and extra features.

config USER_PYTHON_MODULES_CHARDET
	bool "chardet"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		The Universal Character Encoding Detector.

config USER_PYTHON_MODULES_CERTIFI
	bool "certifi"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Python SSL Certificates. Certifi provides Mozilla's carefully
		curated collection of Root Certificates for validating the
		trustworthiness of SSL certificates while verifying the identity
		of TLS hosts.

config USER_PYTHON_MODULES_URLLIB3
	bool "urllib3"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		urllib3 is a powerful, sanity-friendly HTTP client for Python.

config USER_PYTHON_MODULES_IDNA
	bool "idna"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Support for the Internationalised Domain Names in Applications
		(IDNA) protocol as specified in RFC 5891.

config USER_PYTHON_MODULES_REQUESTS
	bool "requests"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_CHARDET
	select USER_PYTHON_MODULES_CERTIFI
	select USER_PYTHON_MODULES_URLLIB3
	select USER_PYTHON_MODULES_IDNA
	help
		Requests is an elegant and simple HTTP library for Python.

config USER_PYTHON_MODULES_REQUESTS_UNIXSOCKET
	bool "requests-unixsocket"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Use requests to talk HTTP via a UNIX domain socket.

config USER_PYTHON_MODULES_JANUS
	bool "janus"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	help
		Thread-safe asyncio-aware queue for Python.

config USER_PYTHON_MODULES_AZURE_IOT_DEVICE
	bool "six"
	select USER_PYTHON_MODULES_SETUPTOOLS_HOST
	select USER_PYTHON_MODULES_SIX
	select USER_PYTHON_MODULES_PYSOCKS
	select USER_PYTHON_MODULES_REQUESTS
	select USER_PYTHON_MODULES_REQUESTS_UNIXSOCKET
	select USER_PYTHON_MODULES_JANUS
	select USER_PYTHON_MODULES_PAHO_MQTT
	select USER_PYTHON_MODULES_URLLIB3
	help
		The Azure IoTHub Service SDK for Python provides functionality
		for communicating with the Azure IoT Hub.

endmenu
endif
