#
# uvar/dev rule for Qisda H21 3G HSDPA Modem
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
SUBSYSTEMS=="usb", NAME="%k", GROUP="uucp", OWNER="root", MODE="0665"
ACTION=="add", ATTRS{idVendor}=="1da5", ATTRS{idProduct}=="f000", RUN+="/bin/sh -c '/etc/init.d/3g.sh wakeup'"
ACTION=="add", ATTRS{idVendor}=="1da5", ATTRS{idProduct}=="4512", RUN+="/bin/sh -c '/etc/init.d/3g.sh add_device'"
ACTION=="remove", ATTRS{idVendor}=="1da5", ATTRS{idProduct}=="4512", RUN+="/bin/sh -c '/etc/init.d/3g.sh remove_device'"

