#
# uvar/dev rule for HUAWEI E220 3G HSDPA Modem
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
##
SUBSYSTEMS=="usb", NAME="%k", GROUP="uucp", OWNER="root", MODE="0665"

ACTION=="add", ATTRS{idVendor}=="1199", ATTRS{idProduct}=="6890", RUN+="/bin/sh -c '/etc_ro/init.d/3g.sh wakeup'"
ACTION=="add", ATTRS{idVendor}=="1199", ATTRS{idProduct}=="6890", RUN+="/bin/sh -c '/etc_ro/init.d/3g.sh add_device'"
ACTION=="remove", ATTRS{idVendor}=="1199", ATTRS{idProduct}=="6890", RUN+="/bin/sh -c '/etc_ro/init.d/3g.sh remove_device'"



