config USER_TRANSMISSION_DAEMON
	bool "Transmission daemon"
	select LIB_LIBEVENT
	select LIB_ZLIB
	select LIB_LIBSSL
	help
		Transmission is a daemon-based Transmission session that can be controlled
		via RPC commands from transmission's web interface or transmission-remote.

config USER_TRANSMISSION_CLI
	bool "Transmission CLI"
	select LIB_LIBEVENT
	select LIB_ZLIB
	select LIB_LIBSSL
	help
		transmission-cli is a lightweight, command-line BitTorrent client with
		scripting capabilities.

config USER_TRANSMISSION_LIGHTWEIGHT
	bool "Optimize Transmission for low-resource systems"
	depends on USER_TRANSMISSION_DAEMON || USER_TRANSMISSION_CLI
	help
		Optimize libtransmission for low-resource systems: smaller cache size,
		prefer unencrypted peer connections, etc.
