Makefile
Makefile.first
Makefile.first.old
Policy.sh
cflags
config.h
config.sh
makeaperl
makedepend
makedir
miniperl
myconfig
opmini.c
perlmain.c
pod/Makefile
writemain
Cross/.setup
lib/re.pm
t/perl
x2p/Makefile
x2p/Makefile.first
x2p/Makefile.first.old
x2p/cflags
