
config USER_UTIL_LINUX
	bool "Build util-linux"
	default n
	help
	  util-linux is a collection of all things better served by busybox
	  in most cases

config USER_UTIL_LINUX_LIBBLKID
	bool "libblkid"
	depends on USER_UTIL_LINUX
	default n
	help
	  libblkid

config USER_UTIL_LINUX_LIBUUID
	bool "libuuid"
	depends on USER_UTIL_LINUX
	default n
	help
	  libuuid

config USER_UTIL_LINUX_UUIDD
	bool "uuidd"
	depends on USER_UTIL_LINUX_LIBUUID
	default n
	help
	  uuidd

config USER_UTIL_LINUX_LIBMOUNT
	bool "libmount"
	depends on USER_UTIL_LINUX
	default n
	help
	  libmount

config USER_UTIL_LINUX_FALLOCATE
	bool "fallocate"
	depends on USER_UTIL_LINUX
	default n
	help
	  fallocate

config USER_UTIL_LINUX_LOSETUP
	bool "losetup"
	depends on USER_UTIL_LINUX
	default n
	help
	  losetup

config USER_UTIL_LINUX_FSTRIM
	bool "fstrim"
	depends on USER_UTIL_LINUX
	select USER_UTIL_LINUX_LIBMOUNT
	default n
	help
	  fstrim

config USER_UTIL_LINUX_SWITCH_ROOT
	bool "switch_root"
	depends on USER_UTIL_LINUX
	default n
	help
	  switch_root
