config LIB_LIBSSL
	bool "Build libSSL"
	default n
	help
		SSL library.
		Only enable this if you want to force the library to be built.
		The Config will make sure this library is built if it is needed.

config LIB_LIBSSL_FIPS
	bool "Build libSSL with FIPs"
	default n
	depends on LIB_LIBSSL
	help
		Build OpenSSL for use with the openssl FIPs certification.
